<div class="welcome-message">
  <div class="welcome-message__current-user">
    <h2>ようこそ〇〇さん</h2>
  </div>
</div>


<div class="recruit-nav">
  <div class="recruit-nav__title">
    <h2>adopetで里親を募集する</h2>
    <p>新しい家族との出会いが待っています</p>
  </div>
</div>

<%= render 'shared/main_content' %>