<footer>
  <div class="footer__content">
    <div class="footer__content--logo">
      <%= image_tag 'logo_bottom.png' %>
    </div>
    <div class="footer__content--text">
      <ul class="footer__content--text__lists">
        <li>ヘルプ</li>
        <li>検索</li>
        <li>利用規約</li>
      </ul>
    </div>
    <div class="footer__content--copywrite">
      ©️2019 adopet
    </div>
  </div>
</footer>