  <body>
    <%= render 'shared/mordal'%>
    <div class="wrapper">
    <%= render 'shared/main_content' %>
    <div class="radius-button">
      <%= link_to "里親を募集する", new_animal_path %>
    </div>
    </div>
  </body>
</html>